.section {
    margin: auto 0;
    padding: 4rem 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.text_imput_wrapper {
    position: relative;
}

.input_hidden {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.text_block {
    user-select: none;
}

.text_block > span {
    position: relative;

    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--muted-color);
}

.text_block > span[type-active] {
    border-bottom: 2px solid var(--blue);
}

.text_block > span[type-correct='true'] {
    color: var(--blue);
}

.text_block > span[type-correct='false'] {
    color: var(--red);
}

.tooltips_list {
    display: flex;
    gap: 1rem;
}
